# Created by https://www.toptal.com/developers/gitignore/api/soliditytruffle
# Edit at https://www.toptal.com/developers/gitignore?templates=soliditytruffle

### SolidityTruffle ###
# depedencies
node_modules
build

# testing
coverage

# production
# build
build_webpack

# misc
.DS_Store
npm-debug.log
.truffle-solidity-loader
.vagrant/**
blockchain/geth/**
blockchain/keystore/**
blockchain/history
logs

#truffle
.tern-port
yarn.lock
package-lock.json

.env

# End of https://www.toptal.com/developers/gitignore/api/soliditytruffle